.btn
{
	font-family: "Poppins-Bold";
	height: 50px;
	font-size: 18px;
	border-radius: 20px;
	border: none;
	line-height: 50px;
	padding-right: 40px;
	padding-left: 40px;
	display: inline-block;
	box-shadow: 3px 0px 5px #00000033;

	&--small
	{
		height: 34px;
		line-height: 34px;
		border-radius: 29px;
		font-size: 16px;
	}

	&--blue-gradient
	{
		color: $c-white;
		background: rgb(0,109,143);
		background: linear-gradient(180deg, rgba(0,109,143,1) 0%, rgba(0,77,101,1) 100%);

		&:hover
		{
			background: linear-gradient(180deg, rgba(0,109,143,1) 0%, rgba(0,77,101,1) 50%);			
		}
	}

	&--gray-gradient
	{	
		color: $c-dark-gray;
		background: rgb(255,255,255);
		background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(194,194,194,1) 50%);
	}

	&--yellow-gradient
	{
		color: $c-dark-gray;
		background: rgb(255,203,76);
		background: linear-gradient(180deg, rgba(255,203,76,1) 0%, rgba(253,185,19,1) 100%);
	}
}

.buttons-container
{
	text-align: center;

	a
	{
		display: inline-block;
		height: 34px;
		background-color: transparent;
		border: 2px solid $c-purple;
		border-radius: 30px;
		color: $c-purple;
		line-height: 34px;
		padding: 0 20px;
		margin: 5px;
		font-family: "Poppins-Medium";

		&:hover,
		&.active
		{
			background-color: $c-purple;
			color: $c-white;
		}
	}

	&--blue
	{
		a
		{
			border: 2px solid $c-sea-blue;
			color: $c-sea-blue;

			&:hover,
			&.active
			{
				background-color: $c-sea-blue;
			}
		}
	}

	&--left
	{
		text-align: left;
	}
}