#footer
{
	#footer-cta
	{
		text-align: center;
		margin-top: 70px;
		margin-bottom: 70px;

		h2
		{
			font-size: 20px;
			color: $c-sea-blue;
		}

		a
		{
			margin-top: 24px;
			color: $c-dark-blue;
			text-transform: uppercase;
		}
	}

	#footer-form
	{
		width: 100%;
		display: none;
		float: left;
		text-align: center;
		background: rgb(0,109,143);
		background: linear-gradient(180deg, rgba(0,109,143,1) 0%, rgba(0,77,101,1) 100%);
		border-radius: 40px 40px 0px 0px;
		margin-top: 50px;
		padding: 60px 0 60px 0;
		
		h2
		{
			margin-bottom: 26px;
			color: $c-white;

			@include bp($s-lg) 
			{
				font-size: 42px;
			}
		}

		p
		{
			color: $c-white;
		}

		#contact-form-message
		{
			margin-top: 16px;
			display: none;
		}

		form
		{
			margin-top: 52px;

			label
			{
				display: none;
			}

			input[type="text"], 
			textarea,
			select
			{
				border: none;
				margin-bottom: 14px;
				border-radius: 25px;
				box-shadow: 0px 3px 6px #00000033;
				border: 2px solid #70707000;
				padding: 0px 15px 0px 15px;
				line-height: 40px;
				font-size: 12px;
				transition: all 0.5s ease-in-out;

				@include bp($s-lg) 
				{
					font-size: 16px;
					line-height: 24px;
				}

				&.error
				{
					border: 2px solid $c-red;
				}

				&#contact-form-phone-ddd
				{
					width: calc((3/12) * 100% - 16px);
					margin-right: 16px;
				}
			}

			input[type="submit"]
			{
				margin-top: 16px;
			} 

			select
			{
				color: rgba($c-black, 0.5);
				-webkit-appearance: none;
			    -moz-appearance: none;
			    text-indent: 1px;
			    text-overflow: '';
			}

			.select
			{
				position: relative;

				&::after
			    {
			    	content: "";
			    	background: image-url('main/ic_arrow_down.svg') center no-repeat;
			    	position: absolute;
			    	right: 20px;
			    	top: 13px;
			    	background-size: cover;
			    	width: 16px;
			    	height: 16px;
			    	pointer-events: none;
			    }
			}

			input[type="text"],
			select
			{
				height: 40px;
				line-height: 40px;
			}

			textarea
			{
				height: 130px;
				resize: none;

				@include bp($s-lg) 
				{
					padding-top: 10px;
				}
			}
		}
	}

	#footer-contact
	{
		color: $c-white;
		background-color: $c-sea-blue;

		@include bp($s-lg) 
		{
			text-align: center;
		}

		.menu-main-menu-container
		{
			.sub-menu
			{
				display: none;
			}

			ul
			{
				li
				{
					&.blog-menu,
					&.uno-menu
					{
						height: 34px;
						padding: 0 18px;
						line-height: 34px;
						border-radius: 18px;
						font-family: "Poppins-Bold";
						text-transform: uppercase;
						cursor: pointer;
						display: table;
					}

					&.blog-menu
					{
						background: rgb(229,229,229);
						background: linear-gradient(180deg, rgba(229,229,229,1) 0%, rgba(193,193,193,1) 100%);

						a
						{
							color: $c-dark-gray;
						}

						&:hover
						{
							background: linear-gradient(180deg, rgba(0,109,143,1) 0%, rgba(0,77,101,1) 50%);
							box-shadow: 1px 1px 10px #006D8F33;

							a
							{
								color: $c-white;
								text-decoration:  none;
							}		
						}
					}

					&.uno-menu
					{
						background: rgb(255,203,76);
						background: linear-gradient(180deg, rgba(255,203,76,1) 0%, rgba(253,185,19,1) 100%);

						a
						{
							color: $c-dark-blue;
						}

						&:hover
						{
							background: linear-gradient(180deg, rgba(255,203,76,1) 0%, rgba(253,185,19,1) 50%);
							box-shadow: 1px 1px 10px #006D8F33;

							a
							{
								color: $c-dark-blue;
								text-decoration:  none;
							}		
						}
					}
				}
			}
		}

		.wrap
		{
			padding-bottom: 30px;

			.footer-logo
			{
				text-align: center;
			}

			@include bp($s-lg) 
			{
				text-align: left;
				padding-top: 60px;
				padding-bottom: 60px;
			}

			h2
			{
				margin-bottom: 24px;
				font-size: 20px;

				@include bp(false, $s-lg) 
				{
					margin-top: 50px;
				}
			}

			ul
			{
				li
				{
					font-size: 12px;
					margin-bottom: 12px;
					line-height: 20px;

					a
					{
						&:hover
						{
							text-decoration: underline;
						}
					}

					&.icon-instagram,
					&.icon-facebook,
					&.icon-youtube
					{
						&::before
						{
							margin-top: 3px;
							margin-right: 15px;
						}
					}

					&.phones-modal
					{
						cursor: pointer;

						&:hover
						{
							text-decoration: underline;
						}
					}

					&.icon-address,
					&.icon-phone,
					&.icon-mail
					{
						&::before
						{
							content: "";
							float: left;
							margin-right: 15px;
							margin-top: 3px;
							display: block;
							width: 17px;
							height: 20px;
						}
					}

					&.icon-address
					{
						&::before
						{
							background: image-url('main/ic_pin.svg') top center no-repeat;

							@include bp($s-mx) 
							{
								height: 20px;
							}
						}
					}

					&.icon-phone
					{
						text-transform: lowercase;

						&::before
						{
							background: image-url('main/ic_phone.svg') top center no-repeat;
						}
					}

					&.icon-mail
					{
						&::before
						{
							background: image-url('main/ic_mail.svg') top center no-repeat;
						}
					}

					@include bp($s-lg) 
					{
						font-size: 16px;
					}
				}
			}

			img
			{
				width: 215px;
				margin-left: auto;
				margin-right: auto;

				@include bp($s-lg) 
				{
					font-size: 240px;
				}

				@include bp(false, $s-lg) 
				{
					margin-top: 20px;
				}
			}
		}
	}
}