input,
textarea
{
	&::-webkit-input-placeholder 
	{
		color: rgba($c-black, 0.5);
		text-transform: lowercase;
	}

	&:-ms-input-placeholder 
	{
	  	color: rgba($c-black, 0.5);
	  	text-transform: lowercase;
	}

	&::placeholder 
	{
		color: rgba($c-black, 0.5);
		text-transform: lowercase;
	}
}