body 
{
	background-color: $c-light-gray;
	overflow-x: hidden;

	&.using-mouse
	{
		:focus 
		{
			outline: none;
		}
	}
}

:focus 
{
	outline: #08f auto 2px;
}

body
{
	outline: none;
}

h1 
{
	font-size: 34px;
	font-weight: normal;
}

h2 
{
	font-weight: normal;
	font-size: 25px;

	@include bp($s-lg) 
	{
		font-size: 40px;
	}
}

ul
{
	li
	{
		.contents
		{
			text-align: center;
			padding: 32px 16px 80px 16px;
		}
	}
}

p
{
	font-size: 16px;
	line-height: 24px;
	color: $c-dark-gray;
}

img
{
	max-width: 100%;
	display: inline-block;
	margin: 0px;
}

.yellow
{
	color: $c-yellow;
}



.flex
{
	display: flex;
	flex-wrap: wrap;
}

.align-left
{
	text-align: left;
}

.align-right
{
	text-align: right;
}

