#header-mobile
{
	position: fixed;
	background-color: $c-red;
	height: 64px;
	width: 100vw;
	padding: 8px 24px;
	z-index: 9999;
	top: 0px;
	box-shadow: 0px 3px 6px #00000029;

	.hamburger
	{
		float: right;
		margin-top: 12px;
		
		.hamburger-inner
		{
			background-color: $c-white;

			&:before,
			&:after
			{
				background-color: $c-white;
			}
		}
	}

	#logo
	{
		margin-top: 15px;
		display: block;

		a
		{
			float: left;

			img
			{
				width: 100px;
			}
		}
	}
}

#mobile-menu
{
	width: 100%;
	position: fixed;
	height: calc(100vh - 64px);
	top: 64px;
	background-color: $c-red;
	z-index: 9998;
	right: -100%;
	transition: all 0.2s ease-in-out;

	ul
	{
		li
		{
			border-bottom: 1px solid $c-white;
			padding: 24px 16px;

			a
			{
				font-size: 20px;
				color: $c-white;
			}
		}
	}

	&.open
	{
		right: 0px;
	}
}

#header
{
	&.scrolled
	{
		#header-desktop
		{
			top: 0px;
		}
	}

	#header-desktop
	{
		position: fixed;
		top: 36px;
		width: 100%;
		height: 72px;
		left: 0px;
		background-color: $c-white;
		z-index: 100;
		transition: all 0.3s ease-in-out;
		display: flex;
		justify-content: center;
		box-shadow: 0px 3px 6px #00000029;

		#logo
		{
			background-color: $c-white;
			width: 142px;
			height: 117px;
			border-radius: 0px 0px 20px 20px;
			float: left;
			display: flex;
			justify-content: center;
			box-shadow: 0px 3px 6px #00000029;

			img
			{
				width: 88px;
				z-index: 2;
				position: relative;
			}
		}

		.menu-main-menu-container
		{
			float: left;
			position: relative;
			margin-left: 30px;
			height: 100%;

			ul
			{
				height: 100%;
				display: flex;
				align-items: center;

				&.sub-menu
				{
					display: none;
					position: absolute;
					background-color: $c-white;
					border-radius: 0 0 20px 20px;
					height: auto;
					width: 270px;
					left: -25px;
					box-shadow: 0px 3px 6px #00000029;

					li
					{
						display: block;
						text-align: left;
						margin-left: 0px;
						line-height: 54px;
						height: 54px;

						&:first-child
						{
							box-shadow: inset 0px 3px 6px #00000029;
						}

						&:last-child
						{
							border-radius: 0 0 20px 20px;
						}

						a
						{
							display: inline-block;
							text-align: left;
							color: $c-sea-blue;
							height: 54px;
							width: 100%;
							line-height: 54px;
							padding: 0 25px;
						}

						&:hover
						{
							background-color: $c-yellow;

							a
							{
								text-decoration: none;
							}
						}
					}
				}

				li
				{
					display: inline-block;
					margin-left: 20px;
					height: 72px;
					line-height: 72px;
					position: relative;

					&:hover
					{
						.sub-menu
						{
							display: block;
						}
					}
					
					@include bp($s-lg) 
					{
						margin-left: 56px;
					}

					&:first-child
					{
						margin-left: 0px;
					}

					&.current_page_item
					{
						a
						{
							text-decoration: underline;
							color: $c-sea-blue;
							font-size: 16px;
						}
					}

					&.blog-menu,
					&.uno-menu
					{
						height: 34px;
						padding: 0 18px;
						line-height: 34px;
						border-radius: 18px;
						font-family: "Poppins-Bold";
						text-transform: uppercase;
						cursor: pointer;
					}

					&.blog-menu
					{
						background: rgb(0,109,143);
						background: linear-gradient(180deg, rgba(0,109,143,1) 0%, rgba(0,77,101,1) 100%);

						a
						{
							color: $c-white;
						}

						&:hover
						{
							background: linear-gradient(180deg, rgba(0,109,143,1) 0%, rgba(0,77,101,1) 50%);
							box-shadow: 1px 1px 10px #006D8F33;

							a
							{
								color: $c-white;
								text-decoration:  none;
							}		
						}
					}

					&.uno-menu
					{
						background: rgb(255,203,76);
						background: linear-gradient(180deg, rgba(255,203,76,1) 0%, rgba(253,185,19,1) 100%);

						a
						{
							color: $c-dark-blue;
						}

						&:hover
						{
							background: linear-gradient(180deg, rgba(255,203,76,1) 0%, rgba(253,185,19,1) 50%);
							box-shadow: 1px 1px 10px #006D8F33;

							a
							{
								color: $c-dark-blue;
								text-decoration:  none;
							}		
						}
					}
					

					&.menu-item-object-custom
					{
						text-decoration: none;
					}

					a
					{
						font-size: 16px;
						color: $c-dark-gray;

						@include bp($s-lg) 
						{
							font-size: 16px;
						}

						&:hover
						{
							text-decoration: underline;
							color: $c-sea-blue;
						}
					}
				}
			}
		}
	}
}