@font-face {
	font-family: 'icomoon';
	src:	url('#{$font_path}/icomoon.eot'); /* IE9 Compat Modes */
	src:	url('#{$font_path}/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('#{$font_path}/icomoon.woff2') format('woff2'), /* Super Modern Browsers */
			url('#{$font_path}/icomoon.woff') format('woff'), /* Pretty Modern Browsers */
			url('#{$font_path}/icomoon.ttf')  format('truetype'), /* Safari, Android, iOS */
			url('#{$font_path}/icomoon.svg') format('svg'); /* Legacy iOS */
}

[class^="icon-"], [class*=" icon-"] {
	&:before {
		font-family: "icomoon" !important;
		speak-as: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
	}
}

.icon-logo:before {
	content: "\e905";
}

.icon-arrow:before {
	content: "\e900";
}

.icon-twitter:before {
	content: "\e901";
}

.icon-youtube:before {
	content: "\e902";
}

.icon-instagram:before {
	content: "\e903";
}

.icon-facebook:before {
	content: "\e904";
}

.icon-profile:before {
	content: "\e907";
}

.icon-search:before {
	content: "\e906";
}

.icon-close:before {
	content: "\e908";
}
.icon-share:before {
	content: "\e90a";
}
.icon-copy:before {
	content: "\e909";
}
.icon-whatsapp:before {
	content: "\e90b";
}
.icon-play:before {
	content: "\e90c";
}
.icon-arrow-down:before {
	content: "\e90d";
}
.icon-filter:before {
	content: "\e90e";
  }