@each $font in ( 
	
) {
	@font-face {
		font-family: $font;
		src:	url('#{$font_path}/#{$font}.eot'); /* IE9 Compat Modes */
		src:	url('#{$font_path}/#{$font}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
				url('#{$font_path}/#{$font}.woff2') format('woff2'), /* Super Modern Browsers */
				url('#{$font_path}/#{$font}.woff') format('woff'), /* Pretty Modern Browsers */
				url('#{$font_path}/#{$font}.ttf')  format('truetype'), /* Safari, Android, iOS */
				url('#{$font_path}/#{$font}.svg') format('svg'); /* Legacy iOS */
	}

}

body {
	font-stretch: normal;
	line-height: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: inherit;
}

@each $pos in(
	left
	right
	center
) {
	.ta--#{$pos} {
		text-align: $pos;
	}
}

// @each $name, $color in (
// 	("white", $c-white)
// 	("golden-yellow", $c-golden-yellow)
// 	("grape-purple", $c-grape-purple)
// 	("gray", $c-gray)
// ) {
// 	.c--#{$name} {
// 		color: $color;
// 	}
// }