<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="library/css/bootstrap/bootstrap.css")
		link(rel="stylesheet", href="library/css/style.css")
		link(rel="stylesheet", href="library/css/pages/homepage.css")
		title Teste, tá?
	body
		section#section-main
			.extra
			h1.text-center Site Claybom
			a(href="").btn.btn-success.text-center Comprar agora
		
		section#section-popular.mt-5
			.wrap
				.col-xs-12.col-sm-6.col-md-3
					.card
						img.card-img-top(src="...", alt="Car Image Cap")
						.card-body
							h5.card-title Card title
							p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
							a.btn.btn-primary(href="#") Comprar
				.col-xs-12.col-sm-6.col-md-3
					.card
						img.card-img-top(src="...", alt="Car Image Cap")
						.card-body
							h5.card-title Card title
							p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
							a.btn.btn-primary(href="#") Comprar
				.col-xs-12.col-sm-6.col-md-3
					.card
						img.card-img-top(src="...", alt="Car Image Cap")
						.card-body
							h5.card-title Card title
							p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
							a.btn.btn-primary(href="#") Comprar
				.col-xs-12.col-sm-6.col-md-3
					.card
						img.card-img-top(src="...", alt="Car Image Cap")
						.card-body
							h5.card-title Card title
							p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
							a.btn.btn-primary(href="#") Comprar