// BREAKPOINTS
@mixin bp($min-size: false, $max-size: false ) {
	@if $min-size and $max-size {
		@media screen and (min-width: $min-size) and (max-width: $max-size - 1px) {
			@content;
		}
	} @else if $min-size {
		@media screen and (min-width: $min-size) {
			@content;
		}
	} @else {
		@media screen and (max-width: $max-size - 1px) {
			@content;
		}
	}
}

// ASPECT RATIO
@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> * {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

// ASPECT RATIO
@mixin fluid-type($min-font-size, $max-font-size) {

	$min-vw: 320px;
	$max-vw: $s-max-width;

	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);

	& {
		font-size: rem($min-font-size);
		@include bp($min-vw) {
			font-size: calc(#{rem($min-font-size)} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
		}
		@include bp($max-vw) {
			font-size: rem($max-font-size);
		}
	}
}

@mixin flex(
	$direction: row,
	$align: normal,
	$justify: space-between,
	$wrap: false
) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
	@if $wrap {
		flex-wrap: $wrap
	}
}

@mixin before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}