// GENERAL VARS

// COLORS

$c-white    		: #ffffff;
$c-black    		: #000000;

$c-off-white		: #F9F9F9;
$c-light-gray		: #F8F8F8;
$c-light-gray2		: #888787;
$c-light-gray3		: #8E8E8E36;
$c-dark-gray		: #2F2F2F;

$c-blue				: #28AFC5;
$c-orange			: #FDB913;
$c-dark-orange		: #F37029;
$c-sea-blue			: #006D8F;
$c-light-blue		: #20BEC6;
$c-ocean-blue     : #006D8F80;
$c-dark-blue		: #025068;
$c-darker-blue      : #1C3E58;
$c-dark-red 		: #AA1D37;
$c-red              : #DC3F5E;
$c-green			: #A6CF4D;
$c-dark-green		: #72B252;
$c-yellow			: #FDB913;
$c-purple			: #58488D;
$c-pink				: #F386A7;
$c-hamburguer-color : rgba($c-black, 0.4);


// FONTS
$f-body				: "Poppins-Regular", sans-serif;
$f-size				: 16px;

// SIZE
$gutter             : 30px;
$spacer             : 16px;
$s-max-width		: 1366px;
$s-mx				: 500px;    // large mobile
$s-sm				: 768px; 	// 	Small devices
$s-md				: 992px; 	// 	medium devices
$s-lg				: 1200px;	// large devices
$s-xl				: 1440px;	// extralarge devices

// ANIMATION
$animation-time		: 0.3s;
$ease				: ease-in-out;
$transition-default	: $animation-time $ease;

// SHADOW
$shadow             : 0 1px 10px rgba($c-black, 0.1);

$img_path           : "../../images";
$font_path           : "../fonts";