#section-main {
    background-image: url("https://placekitten.com/2100/900");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px;
    position: relative;

    .extra {
        position: absolute;
        background-color: $c-black;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
    }

    h1 {
        color: $c-white;
    }
}