$hamburger-padding-x           : 15px !default;
$hamburger-padding-y           : 15px !default;
$hamburger-layer-width         : 40px !default;
$hamburger-layer-height        : 4px !default;
$hamburger-layer-spacing       : 6px !default;
$hamburger-layer-color         : #000 !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

.hamburger {
	font: inherit;
	display: inline-block;
	overflow: visible;
	margin: 0;
	cursor: pointer;
	transition-timing-function: linear;
	transition-duration: .15s;
	transition-property: opacity,filter;
	text-transform: none;
	color: inherit;
	border: 0;
	background-color: transparent;
	&.is-active:hover, &:hover {
		opacity: .7;
	}
	&.is-active .hamburger-inner {
		background-color: $c-hamburguer-color;
		&:after, &:before {
			background-color: $c-hamburguer-color;
		}
	}
}

.hamburger-box {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 24px;
}

.hamburger-inner {
	top: 50%;
	display: block;
	margin-top: -2px;
	position: absolute;
	width: 25px;
	height: 4px;
	border-radius: 4px;
	background-color: $c-hamburguer-color;
	@include transition( transform $transition-default, background $transition-default );
	&:after, &:before {
		position: absolute;
		width: 25px;
		height: 4px;
		border-radius: 4px;
		background-color: $c-hamburguer-color;
		@include transition( transform $transition-default, background $transition-default );
	}
	&:after {
		display: block;
		content: "";
	}
	&:before {
		display: block;
		content: "";
		top: -8px;
	}
	&:after {
		bottom: -8px;
	}
}

$hamburger-types: (
  3dx,
  3dx-r,
  3dy,
  3dy-r,
  3dxy,
  3dxy-r,
  arrow,
  arrow-r,
  arrowalt,
  arrowalt-r,
  arrowturn,
  arrowturn-r,
  boring,
  collapse,
  collapse-r,
  elastic,
  elastic-r,
  emphatic,
  emphatic-r,
  minus,
  slider,
  slider-r,
  spin,
  spin-r,
  spring,
  spring-r,
  stand,
  stand-r,
  squeeze,
  vortex,
  vortex-r
) !default;


// Hamburger types
// ==================================================
@import "types/3dx";
@import "types/3dx-r";
@import "types/3dy";
@import "types/3dy-r";
@import "types/3dxy";
@import "types/3dxy-r";
@import "types/arrow";
@import "types/arrow-r";
@import "types/arrowalt";
@import "types/arrowalt-r";
@import "types/arrowturn";
@import "types/arrowturn-r";
@import "types/boring";
@import "types/collapse";
@import "types/collapse-r";
@import "types/elastic";
@import "types/elastic-r";
@import "types/emphatic";
@import "types/emphatic-r";
@import "types/minus";
@import "types/slider";
@import "types/slider-r";
@import "types/spin";
@import "types/spin-r";
@import "types/spring";
@import "types/spring-r";
@import "types/stand";
@import "types/stand-r";
@import "types/squeeze";
@import "types/vortex";
@import "types/vortex-r";